
#HomeCard{
    padding: 30px;

}
#HomeCard .card{
    width: 250px;
    height: 200px;
    border: 1px solid var(--secondary-color);
}

#HomeCard .card .card-body{

    border: 1px solid var(--secondary-color);
}
